<!-- Fonts -->
<link rel="stylesheet preload prefetch" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.4/dist/web/static/pretendard-dynamic-subset.css" />
<link rel="stylesheet preload prefetch" type='text/css' as="style" crossorigin href='{{ "assets/fonts/stylesheet.css" | relative_url }}'>

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href='{{ "assets" | relative_url }}/favicons/apple-touch-icon.png'>
<link rel="icon" type="image/png" sizes="32x32" href='{{ "assets" | relative_url }}/favicons/favicon-32x32.png'>
<link rel="icon" type="image/png" sizes="16x16" href='{{ "assets" | relative_url }}/favicons/favicon-16x16.png'>
<link rel="mask-icon" href='{{ "assets" | relative_url }}/favicons/safari-pinned-tab.svg' color="#363059">
<link rel="manifest" href="/manifest.json">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="msapplication-TileColor" content="#da532c">

<link rel="stylesheet preload prefetch" as="style" type="text/css" href='{{ page.stylecss }}'>
<link rel="dns-prefetch" href="https://res.cloudinary.com">