<meta property="og:title" content="{% if page.title == 'intro' %}{{ site.title }}{% else %}{{ page.title }} | {{ site.title }}{% endif %}">
<meta property="og:url" content="{{ site.url }}{{ page.url | remove: 'index.html' }}">
<meta property="og:type" content="article">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:description" content="{{ page.excerpt }}">
<meta property="og:image" content='{{ page.thumbnail | absolute_url }}'>
<meta name="by" content="{{ site.author }}">