---
layout: base
title: intro
excerpt: '읽을 만한 취향들. 매거진 입맛 - 책, 술, 담배 리뷰 / 디자인 / 소설'
thumbnail: /assets/images/ogimage.jpg
---
<section class="starting-point" id="nav-set">
    <p class="numbering">01</p>
    <div class="page-slide">
        <div class="page-slide-cover"></div>
        <div class="page-slide-shape"></div>
    </div>
    <div class="title-space">
        <h1 class="title-space-title">매거진 입맛</h1>
        <p class="title-space-description">
            읽을 만한 취향들, 매거진 입맛.<br>책, 술, 담배 리뷰 / 디자인 / 소설
        </p>
    </div>
</section>

<section class="subscribe">
    <div class="subscribe-container">
        <p class="subscribe-description">매거진 입맛의 취향들을 더 편하게, 더 빠르게 받아보세요.</p>
        <a rel="noreferrer" class="btn-subscribe" target="_blank" href="https://forms.gle/wvj73q8MWBv2j44h7" title="Newsletter Subscription">뉴스레터 구독신청</a>
    </div>
</section>

<section class="btn-point">
    <p class="numbering">02</p>
    <div class="text-content">
        <h3>입맛리뷰 - 책과 술과 담배</h3>
        <a href="{{ 'review' | relative_url }}" title="Articles" class="btn-list"><span>더보기</span><svg
                viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                <path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" />
                </svg></a>
    </div>
</section>
<section class="recent-article post-list">
    {% for post in site.categories.review limit:3 %}
    <a title="{{ post.title }}" href="{{ post.url }}" class="post-list-item"
        title="{{ post.title | prepend : 'Read' }}">
        <div class="post-thumbnail">
            <div class="img-source" style="background-image: url('{{ site.cdn_url | append: post.thumbnail }}')"></div>
        </div>
        <div class="post-description">
            <span class="post-topic">{{ post.topic }}</span>
            <div class="post-intro">
                <h2>{{ post.title }}</h2>
                <p class="post-excerpt">{{ post.excerpt }}</p>
            </div>
        </div>
    </a>
    {% endfor %}
</section>

<section class="btn-point">
    <p class="numbering">03</p>
    <div class="text-content">
        <h3>UX 디자인 - 인사이트, 가이드</h3>
        <a href="{{ 'article' | relative_url }}" title="Articles" class="btn-list"><span>더보기</span><svg
                viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                <path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" />
                </svg></a>
    </div>
</section>
<section class="recent-article post-list">
    {% for post in site.categories.design-teatime limit:3 %}
    <a title="{{ post.title }}" href="{{ post.url }}" class="post-list-item"
        title="{{ post.title | prepend : 'Read' }}">
        <div class="post-thumbnail">
            <div class="img-source" style="background-image: url('{{ site.cdn_url | append: post.thumbnail }}')"></div>
        </div>
        <div class="post-description">
            <span class="post-topic">{{ post.topic }}</span>
            <div class="post-intro">
                <h2>{{ post.title }}</h2>
                <p class="post-excerpt">{{ post.excerpt }}</p>
            </div>
        </div>
    </a>
    {% endfor %}
</section>

<section class="btn-point">
    <p class="numbering">04</p>
    <div class="text-content">
        <h3>소설 - 판매용, 팔아본 적은 없음</h3>
        <a href="{{ 'story' | relative_url }}" title="Story" class="btn-list"><span>더보기</span><svg viewbox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                <path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" />
                </svg></a>
    </div>
</section>
<section class="recent-article post-list">
    {% for post in site.categories.story limit:3 %}
    <a title="{{ post.title }}" href="{{ post.url }}" class="post-list-item"
        title="{{ post.title | prepend : 'Read' }}">
        <div class="post-thumbnail">
            <div class="img-source" style="background-image: url('{{ site.cdn_url | append: post.thumbnail }}')"></div>
        </div>
        <div class="post-description">
            <span class="post-topic">{{ post.topic }}</span>
            <div class="post-intro">
                <h2>{{ post.title }}</h2>
                <p class="post-excerpt">{{ post.excerpt }}</p>
            </div>
        </div>
    </a>
    {% endfor %}
</section>

<section class="about-point">
    <div class="left-script">
        <h2>글쓴이 : 이준환</h2>
        <p class="op75">혼자서 씁니다. 데이터 분석하는 프로덕트 디자이너로 일한 경력이 있습니다.<br>UX 디자인, 위스키, 소설을 좋아합니다. 좋아하는 건 많은데 쓰기가 어려워 오픈 예정 카테고리만 수십 개입니다.</p>
    </div>
    <!--
    <a href="{{ 'about' | relative_url }}" title="About Me">좀더 말해봐요<i class='bx bxs-right-arrow-square'></i></a>
    -->
</section>
<script>
    const topNav = document.getElementById('nav')
    const navSet = document.getElementById('nav-set')

    window.onscroll = () => {
        if (window.pageYOffset >= navSet.offsetHeight) topNav.classList.add('show')
        else topNav.classList.remove('show')
    }

    document.getElementById('btn-starting').classList.remove('op75');
    document.getElementById('btn-starting').classList.add('nav-item-act');
</script>