---
layout: base
title: 처음
excerpt: '생각과 기록과 써내려간 것. 도각도각 쓰여진 틈새의 모음.'
thumbnail: /assets/images/ogimage.jpg
---
<section class="starting-point" id="nav-set" data-aos="fade-in">
    <h1 class="title">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M4 11h7V9H7V6h4V4H4v7zM13 4v2h4v5h3V4h-7zM4 20h7v-2H7v-3h4v-2H4v7zM13 15h4v5h3v-7h-7v2z"/></svg>
        <br><span>생각과 기록과 써내려간 것<br>도각도각 쓰여진 틈새의 모음.</span>
    </h1>
</section>
<section class="recent-story post-list">
        {% for post in site.categories.story limit:3 %}
            <a title="{{ post.title }}" href="{{ post.url }}" class="post-list-item" title="{{ post.title | prepend : 'Read' }}">
                <div class="post-thumbnail"><div class="img-source" style="background-image: url('{{ post.thumbnail | relative_url }}')"></div></div>
                <div class="post-description">
                    <time datetime="{{ post.date }}">{{ post.date | date : "%b %d %Y"}}</time>
                    <div class="post-intro">
                        <h2>{{ post.title }}</h2>
                        <p class="post-excerpt">{{ post.excerpt }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </section>
    <section class="btn-point">
            <a href="{{ 'story' | relative_url }}" title="Story" class="btn-list">이야기 더보기</a>
</section>
<section class="recent-article post-list">
    {% for post in site.categories.design-teatime limit:3 %}
        <a title="{{ post.title }}" href="{{ post.url }}" class="post-list-item" title="{{ post.title | prepend : 'Read' }}">
            <div class="post-thumbnail"><div class="img-source" style="background-image: url('{{ post.thumbnail | relative_url }}')"></div></div>
            <div class="post-description">
                <time datetime="{{ post.date }}">{{ post.date | date : "%b %d %Y"}}</time>
                <div class="post-intro">
                    <h2>{{ post.title }}</h2>
                    <p class="post-excerpt">{{ post.excerpt }}</p>
                </div>
            </div>
        </a>
    {% endfor %}
</section>
<section class="btn-point">
        <a href="{{ 'article' | relative_url }}" title="Articles" class="btn-list">디자인 티타임 더보기</a>
</section>
<section class="about-point">
    <div class="left-script">
        <h2>글쓴이 : 도각도각</h2>
        <p class="op75">혼자서 오손도손 글쓰는 집돌이 🏠<br>수필 같은 소설, 소설 같은 수필, 그리고 디자인에 대한 작은 글을 쓰고 있습니다.</p>
    </div>
    <!--
    <a href="{{ 'about' | relative_url }}" title="About Me">좀더 말해봐요<i class='bx bxs-right-arrow-square'></i></a>
    -->
</section>
<script>
    const topNav = document.getElementById('nav')
    const navSet = document.getElementById('nav-set')

    window.onscroll = () => {
        if(window.pageYOffset >= navSet.offsetHeight) topNav.classList.add('show')
        else topNav.classList.remove('show')
    }

    document.getElementById('btn-starting').classList.remove('op75')
</script>