---
layout: base
title: 처음
excerpt: '도각도각은 에이마이너스급 감성을 지향하는 사적인 글공간입니다.'
thumbnail: /assets/images/ogimage.jpg
---
<section class="starting-point" id="nav-set" data-aos="fade-in">
    <p class="numbering">01</p>
    <h1 class="title">
        <span>글공간 도각도각↵</span>
    </h1>
    <p class="description">도각도각은 에이마이너스급 감성을 지향하는 사적인 글공간입니다.<br>비급은 정신 사납고 에이급은 지루해서 위트는 담백하게 문장은 신선하게 꾸리려고 합니다.</p>
</section>

<div data-aos="fade-in">
    <section class="btn-point">
        <p class="numbering">02</p>
        <div class="text-content">
            <h3>디자인 티타임</h3>
            <a href="{{ 'article' | relative_url }}" title="Articles" class="btn-list"><span>더보기</span><svg
                    viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                    <path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" />
                    </svg></a>
        </div>
    </section>
    <section class="recent-article post-list">
        {% for post in site.categories.design-teatime limit:3 %}
        <a title="{{ post.title }}" href="{{ post.url }}" class="post-list-item"
            title="{{ post.title | prepend : 'Read' }}">
            <div class="post-thumbnail">
                <div class="img-source" style="background-image: url('{{ post.thumbnail | relative_url }}')"></div>
            </div>
            <div class="post-description">
                <time datetime="{{ post.date }}">{{ post.date | date : "%b %d %Y"}}</time>
                <div class="post-intro">
                    <h2>{{ post.title }}</h2>
                    <p class="post-excerpt">{{ post.excerpt }}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </section>
</div>

<div data-aos="fade-in">
    <section class="btn-point">
        <p class="numbering">03</p>
        <div class="text-content">
            <h3>이야기</h3>
            <a href="{{ 'story' | relative_url }}" title="Story" class="btn-list"><span>더보기</span><svg viewbox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                    <path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" />
                    </svg></a>
        </div>
    </section>
    <section class="recent-story post-list">
        {% for post in site.categories.story limit:3 %}
        <a title="{{ post.title }}" href="{{ post.url }}" class="post-list-item"
            title="{{ post.title | prepend : 'Read' }}">
            <div class="post-thumbnail">
                <div class="img-source" style="background-image: url('{{ post.thumbnail | relative_url }}')"></div>
            </div>
            <div class="post-description">
                <time datetime="{{ post.date }}">{{ post.date | date : "%b %d %Y"}}</time>
                <div class="post-intro">
                    <h2>{{ post.title }}</h2>
                    <p class="post-excerpt">{{ post.excerpt }}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </section>
</div>

<div data-aos="fade-in">
    <section class="btn-point">
        <p class="numbering">04</p>
        <div class="text-content">
            <h3>일일</h3>
            <a href="{{ 'daily' | relative_url }}" title="Articles" class="btn-list"><span>더보기</span><svg
                    viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                    <path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" />
                    </svg></a>
        </div>
    </section>
    <section class="recent-article post-list">
        {% for post in site.categories.daily limit:3 %}
        <a title="{{ post.title }}" href="{{ post.url }}" class="post-list-item"
            title="{{ post.title | prepend : 'Read' }}">
            <div class="post-thumbnail">
                <div class="img-source" style="background-image: url('{{ post.thumbnail | relative_url }}')"></div>
            </div>
            <div class="post-description">
                <time datetime="{{ post.date }}">{{ post.date | date : "%b %d %Y"}}</time>
                <div class="post-intro">
                    <h2>{{ post.title }}</h2>
                    <p class="post-excerpt">{{ post.excerpt }}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </section>
</div>

<section class="about-point">
    <div class="left-script">
        <h2>글쓴이 : 이준환</h2>
        <p class="op75">혼자서 오손도손 글쓰는 집돌이 ❤🏠<br>수필 같은 소설, 소설 같은 수필, 그리고 디자인에 대한 작은 글을 쓰고 있습니다.</p>
    </div>
    <!--
    <a href="{{ 'about' | relative_url }}" title="About Me">좀더 말해봐요<i class='bx bxs-right-arrow-square'></i></a>
    -->
</section>
<script>
    const topNav = document.getElementById('nav')
    const navSet = document.getElementById('nav-set')

    window.onscroll = () => {
        if (window.pageYOffset >= navSet.offsetHeight) topNav.classList.add('show')
        else topNav.classList.remove('show')
    }

    document.getElementById('btn-starting').classList.remove('op75');
    document.getElementById('btn-starting').classList.add('nav-item-act');
</script>