<footer id="footer" class="{% if page.title == 'intro' %}intro{% endif %}">
    <section>
        <div class="link-group"><a id="home-page" href='{{ "/" | relative_url }}' title="Main">매거진 입맛</a></div>
        <div class="link-group">
            <p class="group-title">Category</p>
            <a href="{{ 'article' | relative_url }}" title="Articles">디자인</a>
            <a href="{{ 'review' | relative_url }}" title="Reviews">입맛리뷰</a>
            <a href="{{ 'story' | relative_url }}" title="Stories">소설</a>
        </div>
        <div class="link-group">
            <p class="group-title">Social</p>
            <a rel="noreferrer" id="fb-link" href="https://www.facebook.com/magepmat" title="Facebook" target="_blank">Facebook</a>
            <a rel="noreferrer" id="insta-link" href="https://www.instagram.com/mag_epmat/" title="Instagram" target="_blank">Instagram</a>
            <a rel="noreferrer" id="rss-link" href="{{ '/feed.xml' | relative_url }}" title="RSS" target="_blank">RSS</a>
        </div>
        <div class="link-group">
            <p class="group-title">Contact</p>
            <a id="mail-link" href="mailto:{{ site.email }}" title="Email">Email</a>
            <a href="https://www.linkedin.com/in/junhwanlee" target="_blank" rel="noopener noreferrer">LinkedIn</a>
            <a href="https://www.rocketpunch.com/@junhwanlee" target="_blank" rel="noopener noreferrer">Rocketpunch</a>
        </div>
    </section>
</footer>