<footer id="footer" class="{% if page.url == '/' %}intro{% endif %}">
    <section>
        <div class="link-group"><a id="home-page" href='{{ "/" | relative_url }}' title="Main">매거진 입맛</a></div>
        <div class="link-group">
            <p class="group-title">Category</p>
            <a href="{{ 'article' | relative_url }}" title="매거진 입맛 • 프로덕트 디자인">프로덕트 디자인</a>
            <a href="{{ 'review' | relative_url }}" title="매거진 입맛 • 마시다">마시다</a>
            <a href="{{ 'read' | relative_url }}" title="매거진 입맛 • 읽다">읽다</a>
        </div>
        <div class="link-group">
            <p class="group-title">Social</p>
            <a rel="noreferrer" id="fb-link" href="https://www.facebook.com/magepmat" title="Facebook" target="_blank">Facebook</a>
            <a rel="noreferrer" id="insta-link" href="https://www.instagram.com/mag_epmat/" title="Instagram" target="_blank">Instagram</a>
            <a rel="noreferrer" id="rss-link" href="{{ '/feed.xml' | relative_url }}" title="RSS" target="_blank">RSS</a>
        </div>
        <div class="link-group">
            <p class="group-title">Contact</p>
            <a id="mail-link" href="mailto:{{ site.email }}" title="Email">Email</a>
            <a href="https://www.linkedin.com/in/junhwanlee" target="_blank" rel="noopener noreferrer">LinkedIn</a>
            <a href="https://www.rocketpunch.com/@junhwanlee" target="_blank" rel="noopener noreferrer">Rocketpunch</a>
        </div>
        <div class="link-group">
            <p class="group-title">Request</p>
            <a href="https://forms.gle/wvj73q8MWBv2j44h7" target="_blank" rel="noopener noreferrer">뉴스레터 구독</a>
            <a href="https://forms.gle/26d5yuzwQB3D44zm7" target="_blank" rel="noopener noreferrer">주제 제안</a>
        </div>
    </section>
</footer>