<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E4YBHG63E3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-E4YBHG63E3');
    </script>
    
    <!-- Meta Tag for Basic Setting -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="locale" content="ko_KR">
    <meta name="google-site-verification" content="Q1Gkv54gFGh2MxaT7ehKmua6BROtBIJR_ki_z_1_EwE" />
    <meta name="naver-site-verification" content="d9a8213816d39cd0b58123c579fb50704ab632a8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#ffffff">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="referrer" content="always">
    <!-- Open Graph -->
    <meta property="og:title" content="{% if page.title == 'intro' %}{{ site.title }}{% else %}{{ page.title }} | {{ site.title }}{% endif %}">
    <meta property="og:url" content="{{ site.url }}{{ page.url | remove: 'index.html' }}">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:description" content="{{ page.excerpt }}">
    <meta property="og:image" content='{{ page.thumbnail | absolute_url }}'>
    <meta name="by" content="{{ site.author }}">
    <!-- Twitter -->
    <meta name="twitter:title" content="{% if page.title == 'intro' %}{{ site.title }}{% else %}{{ page.title }} | {{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{{ page.excerpt }}">
    <meta name="twitter:image" content='{{ page.thumbnail | absolute_url }}'>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="{{ site.url }}{{ page.url | remove: 'index.html' }}">
    <meta name="twitter:site" content="{{ site.title }}">
    <!-- Other Basic Meta Tag -->
    <meta name="title" content="{% if page.title == 'intro' %}{{ site.title }}{% else %}{{ page.title }} | {{ site.title }}{% endif %}">
    <meta name="description" content="{{ page.excerpt }}">
    <meta name="author" content="{{ site.author }}">
    <meta name="article:media_name" content="{{ site.title }}">
    <meta property="article:mobile_url" content="{{ site.url }}{{ page.url | remove: 'index.html' }}">
    <meta property="article:pc_url" content="{{ site.url }}{{ page.url | remove: 'index.html' }}">
    <meta property="article:mobile_view_url" content="{{ site.url }}{{ page.url | remove: 'index.html' }}">
    <meta property="article:pc_view_url" content="{{ site.url }}{{ page.url | remove: 'index.html' }}">
    <meta property="article:talk_channel_view_url" content="{{ site.url }}{{ page.url | remove: 'index.html' }}">
    <meta property="article:pc_service_home" content="{{ site.url }}">
    <meta property="article:mobile_service_home" content="{{ site.url }}">
    <!-- Post Date Tag -->
    {% if page.title != 'intro' %}
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
    <meta property="article:modified_time" content="{{ page.date | date_to_xmlschema }}">
    <meta property="og:regDate" content="{{ page.date | date: '%Y%m%d%H%M%S' }}">
    {% endif %}
    <!-- JSON-LD -->
    <script type="application/ld+json">
      {% if page.title == 'intro' or page.layout == 'category-list' %}
        {
          "@context":"https://schema.org/",
          "@type":"WebSite",
          "url":"{{ site.url }}",
          "name":"{{ site.title }}"
        }
      {% else %}
        {
          "@context":"https://schema.org/",
          "@type":"BlogPosting",
          "mainEntityOfPage":{
            "@id":"{{ site.url }}{{ page.url | remove: 'index.html' }}"
          },
          "url":"{{ site.url }}{{ page.url | remove: 'index.html' }}",
          "headline":"{{ page.title }} | {{ site.title }}",
          "description":"{{ page.excerpt }}",
          "author":{
            "@type":"Person",
            "name":"{{ site.author }}",
            "url":"{{ site.url }}",
            "email":"{{ site.email }}"
          },
          "publisher":{
            "@type":"Organization",
            "name":"{{ site.title }}",
            "logo":{
              "@type":"ImageObject",
              "url":"{{ site.url }}/assets/images/logo.png"
            },
            "url":"{{ site.url }}",
            "email":"{{ site.email }}"
          },
          "image":{
            "@type":"ImageObject",
            "url":"{{ page.thumbnail | absolute_url }}"
          },
          "datePublished":"{{ page.date | date_to_xmlschema }}",
          "dateModified":"{{ page.date | date_to_xmlschema }}"
        }
      {% endif %}
    </script>
    <!-- Links -->
    <link rel="preload" as="style" href='{{ page.stylecss }}'>
    <link rel="stylesheet" href='{{ page.stylecss }}'>
    <link rel="canonical" href="{{ site.url }}{{ page.url | remove: 'index.html' }}">
    <link rel="alternate" href="{{ site.url }}/feed.xml" type="application/atom+xml" title="Atom 0.3">

    <!-- Fonts -->
    <link rel="preload" as="style" href='https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.4/dist/web/static/pretendard-dynamic-subset.css' />
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.4/dist/web/static/pretendard-dynamic-subset.css" />
    <link rel="preload" as="style" href='{{ "assets/fonts/ridibatang.css" | relative_url }}'>
    <link href='{{ "assets/fonts/ridibatang.css" | relative_url }}' rel='stylesheet' type='text/css' />

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "assets" | relative_url }}/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "assets" | relative_url }}/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "assets" | relative_url }}/favicons/favicon-16x16.png">
    <link rel="mask-icon" href="{{ "assets" | relative_url }}/favicons/safari-pinned-tab.svg" color="#363059">
    <link rel="manifest" href="/manifest.json">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="msapplication-TileColor" content="#da532c">
    <title>{% if page.title == 'intro' %}{{ site.title }}{% else %}{{ page.title }} | {{ site.title }}{% endif %}</title>
    <script data-ad-client="ca-pub-7525347021497850" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>