<header class="top-nav" id="nav">
    <nav>
        <a href="{{ "/" | relative_url }}" title="Pado St" class="logo">
            <span class="nosvg">매거진 입맛</span>
        </a>
        <div class="dynamic-nav">
            <ul>
                <li>
                    <a id="btn-starting" href="{{ "/" | relative_url }}" title="Starting Point" class="op75">처음</a>
                </li>
                <li>
                    <a id="btn-daily" href="{{ "/review" | relative_url }}" title="Daily" class="op75">리뷰</a>
                </li>
                <li>
                    <a id="btn-article" href="{{ "/article" | relative_url }}" title="Design Teatime" class="op75">디자인</a>
                </li>
                <li>
                    <a id="btn-story" href="{{ "/story" | relative_url }}" title="Story" class="op75">소설</a>
                </li>
                <!--
                <li>
                    <a id="btn-about" href="{{ "/about" | relative_url }}" title="Starting Point" class="op75">쓰는 사람<span class="num-square">4</span></a>
                </li>
                -->
            </ul>
        </div>
    </nav>
</header>