<header class="top-nav" id="nav">
    <nav>
        <a href="{{ "/" | relative_url }}" title="Pado St" class="logo">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 8V7H9v3h3V9h-2V8h2z"/><path d="M16.5 5h-9L5 8v11h14V8zM7 13.88l-1 2V8.36l1-1.2zM8 6h8v7.5H8zm-.19 8.5h8.38l1.75 3.5H6.06z"/></svg>
            <span class="nosvg">도각도각</span>
        </a>
        <div class="dynamic-nav">
            <ul>
                <li>
                    <a id="btn-starting" href="{{ "/" | relative_url }}" title="Starting Point" class="op75">처음<span class="num-square">1</span></a>
                </li>
                <li>
                    <a id="btn-story" href="{{ "/story" | relative_url }}" title="Starting Point" class="op75">이야기<span class="num-square">2</span></a>
                </li>
                <li>
                    <a id="btn-article" href="{{ "/article" | relative_url }}" title="Starting Point" class="op75">디자인 티타임<span class="num-square">3</span></a>
                </li>
                <li>
                    <a id="btn-daily" href="{{ "/daily" | relative_url }}" title="Starting Point" class="op75">일일<span class="num-square">4</span></a>
                </li>
                <!--
                <li>
                    <a id="btn-about" href="{{ "/about" | relative_url }}" title="Starting Point" class="op75">쓰는 사람<span class="num-square">4</span></a>
                </li>
                -->
            </ul>
        </div>
    </nav>
</header>