<header class="top-nav" id="nav">
    <nav>
        <a href="{{ "/" | relative_url }}" title="Magazine Epmat" class="logo">
            <svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.538 2.77H4.154v.84l1.384.123v-.964zm0 17.482l-1.384.139v.84h1.384v-.979zm.924.979h12.347l-.049-5.116h-1.384l-1.137 4.152h-5.56c-.05-2.57-.05-5.19-.05-7.933v-.075h3.386l.346 2.62h1.236V8.627H14.36l-.37 2.743h-3.362c0-2.62 0-5.165.05-7.637h5.016l1.137 3.954h1.434l.024-4.918H6.462v18.462z"/></svg>
            <span class="nosvg">매거진 입맛</span>
        </a>
        <div class="dynamic-nav">
            <ul>
                <li>
                    <a id="btn-starting" href="{{ "/" | relative_url }}" title="Starting Point" class="op75">처음</a>
                </li>
                <li>
                    <a id="btn-daily" href="{{ "/review" | relative_url }}" title="Daily" class="op75">리뷰</a>
                </li>
                <li>
                    <a id="btn-article" href="{{ "/article" | relative_url }}" title="Design Teatime" class="op75">디자인</a>
                </li>
                <li>
                    <a id="btn-story" href="{{ "/story" | relative_url }}" title="Story" class="op75">소설</a>
                </li>
                <!--
                <li>
                    <a id="btn-about" href="{{ "/about" | relative_url }}" title="Starting Point" class="op75">쓰는 사람<span class="num-square">4</span></a>
                </li>
                -->
            </ul>
        </div>
    </nav>
</header>