@charset "utf-8";

$base-font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
$base-font-weight: 400;
$base-line-height: 1.8;
$base-font-size: 1em;
$small-font-size: 0.8em;
$title-font-family: "Noto Serif KR";

$text-color: #272629;
$background-color: #fff;
$primary-color: #363059;
$dark-color: #1f193b;
$bright-color: #4a37ad;

$base-color-tint: #f2f2f2;
$base-color-tone: #e3e3e6;
$base-color-tone-text: #c3c3c7;
$base-color-shade: #86868a;

$wide-width: 1300px;
$normal-width: 1100px;
$mobile-width: 760px;

$base-round: 4px;

$base-cubic-bezier: cubic-bezier(0.8, 0, 0.2, 1);

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin transition-o-point-three($target) {
    -webkit-transition: $target 0.3s ease;
    -o-transition: $target 0.3s ease;
    transition: $target 0.3s ease;
}

@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes smooth-rise {
    from {
        -webkit-transform: translateY(10rem);
        transform: translateY(10rem);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes smooth-rise {
    from {
        -webkit-transform: translateY(10rem);
        transform: translateY(10rem);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

a {
    cursor: pointer;
    color: $base-color-shade;
    text-decoration: none;
    @include transition-o-point-three(color);

    &:hover {
        color: $base-color-tone-text;
    }
}

.sink-state {
    -webkit-transform: translateY(10rem);
    -ms-transform: translateY(10rem);
    transform: translateY(10rem);
}

.rise-animated {
    -webkit-animation: smooth-rise 0.3s $base-cubic-bezier forwards;
    animation: smooth-rise 0.3s $base-cubic-bezier forwards;

    &.second-position {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }

    &.third-position {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

    @include media-query($normal-width) {
        &.second-position,
        &.third-position {
            -webkit-animation-delay: 0s;
            animation-delay: 0s;
        }
    }
}

.op75 {
    opacity: 0.75;
}

.disable-txt {
    color: $base-color-tone-text !important;
}

.disable-element {
    display: none;
}

.hide {
    opacity: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-weight: 800;
    color: $text-color;
    font-family: $title-font-family;
}

h1 {
    line-height: 1;
    font-size: 2rem;

    @include media-query($mobile-width) {
        font-size: 1.5rem;
    }
}

h2 {
    font-size: 1.25rem;
    line-height: 1.5;

    @include media-query($mobile-width) {
        font-size: 1.25rem;
    }
}

h3 {
    line-height: 1;
    font-size: 1.25rem;

    @include media-query($mobile-width) {
        font-size: 1.125rem;
    }
}

strong {
    font-weight: bold;
}

::-moz-selection {
    background: $primary-color;
    color: #fff;
}

::selection {
    background: $primary-color;
    color: #fff;
}

html {
    scroll-behavior: smooth;
}

body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    font-display: swap;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -o-font-feature-settings: "kern" 1;
    -webkit-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    -webkit-font-kerning: normal;
    font-kerning: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
    -webkit-animation: fade-in 0.6s $base-cubic-bezier forwards;
            animation: fade-in 0.6s $base-cubic-bezier forwards;
}

section {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 6rem calc((100vw - #{$wide-width}) / 2);

    &.wide {
        padding-left: 3%;
        padding-right: 3%;
    }
}

.space-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    .space-left {
        padding-right: 2.5rem;
        -webkit-box-flex: 1;
            -ms-flex: 1 1 0px;
                flex: 1 1 0;
    }

    .space-right {
        padding-left: 2.5rem;
        -webkit-box-flex: 3;
            -ms-flex: 3 1 0px;
                flex: 3 1 0;
    }

    &.one-by-two {
        .space-right {
            -webkit-box-flex: 2;
                -ms-flex: 2 1 0px;
                    flex: 2 1 0;
        }
    }
}

.ads-container-mobile-feedcard {
    display: none;
}

@include media-query($wide-width) {
    section {
        padding: 3.5rem 2.5rem;
    }
}

@include media-query($normal-width) {
    section {
        padding: 2.5rem;
    }

    .space-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column;
                flex-flow: column;

        .space-left {
            padding-right: 0;
        }

        .space-right {
            padding-left: 0;
            -webkit-box-flex: 1;
                -ms-flex: 1 1 0px;
                    flex: 1 1 0;
        }
    }
}

@include media-query($mobile-width) {
    section {
        padding: 2rem 1.5rem;
    }

    .ads-container-mobile-feedcard {
        display: block;
    }

    .mobile-disappear {
        display: none;
    }
}

.ghost-round-button {
    line-height: 1;
    font-size: 1rem;
    color: $text-color;
    padding: 0.5rem 0.75rem;
    border-radius: 3rem;
    border: 1px solid $base-color-shade;
    background-color: transparent;
    font-family: $base-font-family;
    cursor: pointer;

    @include media-query($mobile-width) {
        font-size: 0.875rem;
        padding: 0.375rem 0.5rem;
    }
}