footer {
    width: 100%;
    background-color: $base-color-tint;
    color: $text-color;

    &.intro {
        background-color: #1a1531;
        color: $base-color-tint;

        section .link-group #home-page {
            color: $base-color-tint;
        }
    }

    section {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;

        .link-group {
            font-size: 1.1rem;

            #home-page {
                font-family: $title-font-family;
                color: $text-color;
            }

            .group-title {
                font-weight: 500;
                margin-bottom: 1rem;
            }

            a {
                display: block;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        @include media-query($mobile-width) {
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;

            .link-group {
                -ms-flex-preferred-size: 50%;
                flex-basis: 50%;
                &:first-child {
                    -ms-flex-preferred-size: 100%;
                        flex-basis: 100%;
                    margin-bottom: 1rem;
                }
                &:last-child,
                &:nth-last-child(2) {
                    margin-top: 1.5rem;
                }
            }
        }
    }
}