footer {
    position: absolute;
    bottom: 0;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    min-height: 64px;
    background-color: $base-color-tint;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0.875rem;
    padding: 1rem calc((100vw - #{$wide-width}) / 2);

    span a {
        margin-right: 1.5rem;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        &#home-page {
            font-family: $title-font-family;
            font-weight: 800;
        }

        svg {
            width: 0.75rem;
            margin-right: 0.25rem;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    @include media-query($wide-width) {
        padding: 1rem 2.5rem;
    }

    @include media-query($normal-width) {
        span a {
            margin-right: 0.75rem;
        }
    }

    @include media-query($mobile-width) {
        padding: 1rem 1.25rem;
        font-size: 0.75rem;

        span {
            &.inner-link a {
                margin-right: 0.5rem;
    
                &#home-page {
                    display: block;
                    font-size: 0.75rem;
                    margin-right: 0;
                }
            }

            &.outer-link {
                display: grid;
                grid-template-columns: repeat(2, 2fr);
                gap: 0 0.5rem;

                a {
                    margin-right: 0;
                }
            }
        }
    }
}