.post-content-container {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid $base-color-tone;

    .space-left {
        border-right: 1px solid $base-color-tone;

        .post-content-side-container {
            opacity: 0;
            -webkit-animation: 0.4s ease 0.4s forwards fade-in;
                    animation: 0.4s ease 0.4s forwards fade-in;
            position: -webkit-sticky;
            position: sticky;
            top: 8rem;
            margin-top: 10rem;
            margin-bottom: 5rem;

            .dailyshot-referrer-container {
                img {
                    border-radius: $base-round;
                    width: 48px;
                    height: auto;
                    margin-bottom: 0.5rem;
                }
                h3 {
                    font-family: $base-font-family;
                    margin-bottom: 1rem;    
                    line-height: 1.5;

                    span.code {
                        font-feature-settings: "ss06";
                        background-color: $base-color-tint;
                        border-radius: $base-round;
                        padding: 4px;
                    }
                }
            }

            .post-share-title {
                font-family: $base-font-family;
                margin-bottom: 1rem;
            }

            .post-share-description {
                line-height: 1.5;
                margin-bottom: 2.5rem;
            }

            button.copy {
                width: 100%;
                font-family: $base-font-family;
                color: $background-color;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                border: 0;
                border-radius: $base-round;
                padding: 1rem;
                font-size: 0.875rem;
                font-weight: 600;
                margin-bottom: 5rem;
                cursor: pointer;
                @include transition-o-point-three(all);
                -webkit-box-sizing: border-box;
                        box-sizing: border-box;

                svg {
                    width: 0.875rem;
                    margin-right: 0.5rem;
                }

                &#copy-dailyshot-code {
                    background-color: #fe5000;
                    &:hover {
                        background-color: #db5416;
                        color: #fff6f2;
                        -webkit-transform: scale(0.975);
                            -ms-transform: scale(0.975);
                                transform: scale(0.975);
                    }
    
                    &:active {
                        -webkit-transform: scale(0.95);
                            -ms-transform: scale(0.95);
                                transform: scale(0.95);
                    }   
                }

                &#post-share {
                    background-color: $primary-color;
                    &:hover {
                        background-color: $dark-color;
                        color: $base-color-tone;
                        -webkit-transform: scale(0.975);
                            -ms-transform: scale(0.975);
                                transform: scale(0.975);
                    }
    
                    &:active {
                        -webkit-transform: scale(0.95);
                            -ms-transform: scale(0.95);
                                transform: scale(0.95);
                    }   
                }
            }

            .outerlink-container {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                border-bottom: 2px solid $text-color;
                margin-top: 1rem;
                padding: 0.5rem 0 0.5rem 0.25rem;
                @include transition-o-point-three(all);

                h3 {
                    font-size: 1.1rem;
                    line-height: 1;
                    font-weight: bold;
                    font-family: $base-font-family;
                    @include transition-o-point-three(color);
                }

                svg {
                    margin-left: 1.5rem;
                    color: $text-color;
                    width: 2rem;
                    @include transition-o-point-three(color);
                }

                &:hover {
                    -webkit-transform: scale(0.975);
                        -ms-transform: scale(0.975);
                            transform: scale(0.975);
                    border-color: $base-color-shade;

                    h3,
                    svg {
                        color: $base-color-shade;
                    }
                }
            }
        }
    }

    .space-right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        .post-content {
            max-width: $mobile-width;
            width: 100%;
            margin: 10rem 0 3.5rem;
            font-family: $title-font-family;
            letter-spacing: -0.01rem;

            * {
                opacity: 0;
                -webkit-animation: 0.4s ease 0.2s forwards fade-in;
                        animation: 0.4s ease 0.2s forwards fade-in;
            }

            .post-title {
                font-size: 3rem;
                font-family: $base-font-family;
                letter-spacing: -0.05rem;
                width: 100%;
                margin-bottom: 3.5rem;
                position: relative;
                line-height: 1.4;
                color: $text-color;
                word-break: keep-all;
                -webkit-animation: 0.4s ease forwards fade-in;
                        animation: 0.4s ease forwards fade-in;
            }

            p,
            ul,
            ol,
            table {
                font-size: 1.125rem;
                line-height: 2;
                margin: 1.75rem 0;
            }

            ul,
            ol {
                padding-left: 1.1rem;

                li {
                    margin-bottom: 0.375rem;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            a {
                border-bottom: 2px solid $bright-color;
                color: $text-color;

                &:hover {
                    color: $bright-color;
                }
            }

            > p.right-infor {
                text-align: right;
            }

            > p.infor,
            > p.right-infor {
                font-family: $base-font-family;
                color: $base-color-shade;
                font-size: 1rem;
                line-height: 2;

                strong,
                em {
                    font-weight: 600;
                }

                a {
                    color: $base-color-shade;
                    border-bottom: 1px solid $base-color-shade;
                    &:hover {
                        color: $base-color-tone-text;
                        border-color: $base-color-tone-text;
                    }
                }
            }

            > p.infor:first-of-type {
                padding-bottom: 1.5rem;
                border-bottom: 1px solid $base-color-tone;
            }

            > p.refer {
                margin-top: 4rem;
            }

            > p.full-size,
            > p.normal-size {
                line-height: 1;
            }

            h2 {
                margin: 5rem 0 1.5rem;
                font-family: $base-font-family;
                word-break: keep-all;
                font-size: 1.5rem;
            }

            img {
                width: 100%;
                height: auto;
            }

            table {
                line-height: 2;

                tbody,
                thead {
                    vertical-align: top;
                }

                tr {
                    th:last-child {
                        font-weight: normal;
                    }

                    td:first-child {
                        font-weight: bold;
                        padding-right: 1.5rem;
                        white-space: nowrap;
                    }
                }
            }

            blockquote {
                p:last-child {
                    text-align: right;
                }
            }

            .half-margin {
                margin: 1rem 0;
            }

            .no-bottom-margin {
                margin-bottom: 0;
            }

            .no-top-margin {
                margin-top: 0;
            }

            .img-caption {
                font-size: 0.875rem;
                line-height: 1;
                font-family: $base-font-family;
            }
        }

        .post-feedback {
            border-top: 1px solid $base-color-tone;
            padding: 3.5rem 0 4rem;
            width: 100%;
            max-width: $mobile-width;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;

            p {
                font-size: 1rem;
                line-height: 1;
                margin-bottom: 1rem;
                text-align: center;
                font-weight: 600;
                -ms-flex-preferred-size: 100%;
                    flex-basis: 100%;
            }

            a {
                background-color: $primary-color;
                color: $background-color;
                padding: 0.5rem 0.75rem;
                font-size: 0.875rem;
                font-weight: 600;
                border-radius: $base-round;
                display: block;
                @include transition-o-point-three(all);

                &:last-child {
                    margin-left: 0.75rem;
                }
                &:hover {
                    background-color: $dark-color;
                    color: $base-color-tone;
                    -webkit-transform: scale(0.95);
                        -ms-transform: scale(0.95);
                            transform: scale(0.95);
                }
    
                &:active {
                    -webkit-transform: scale(0.9);
                        -ms-transform: scale(0.9);
                            transform: scale(0.9);
                }
            }
        }

        // .shouk-container {
        //     -webkit-box-sizing: border-box;
        //             box-sizing: border-box;
        //     margin-bottom: 5rem;
        //     max-width: $mobile-width;
        //     width: 100%;
        //     background-color: $base-color-tint;
        //     padding: 0 1rem 0 2rem;
        //     display: -webkit-box;
        //     display: -ms-flexbox;
        //     display: flex;
        //     -webkit-box-align: center;
        //         -ms-flex-align: center;
        //             align-items: center;
        //     -webkit-box-pack: justify;
        //         -ms-flex-pack: justify;
        //             justify-content: space-between;
        //     @include transition-o-point-three(all);

        //     h3 {
        //         font-family: $base-font-family;
        //         margin-bottom: 0.75rem;
        //     }

        //     h3, p {
        //         line-height: 1.2;
        //     }

        //     .container-right {
        //         padding-top: 0.75rem;
        //         display: -webkit-box;
        //         display: -ms-flexbox;
        //         display: flex;
        //         -webkit-box-align: end;
        //             -ms-flex-align: end;
        //                 align-items: flex-end;

        //         img {
        //             width: auto;
        //             height: 140px;
        //         }
        //     }

        //     &:hover {
        //         background-color: $base-color-tone;
        //         -webkit-transform: scale(0.975);
        //             -ms-transform: scale(0.975);
        //                 transform: scale(0.975);
        //     }

        //     &:active {
        //         -webkit-transform: scale(0.95);
        //             -ms-transform: scale(0.95);
        //                 transform: scale(0.95);
        //     }
        // }
    }
}

@include media-query($wide-width) {
    .post-content-container {
        .space-left {
            .post-content-side-container {
                .post-share-description {
                    margin-bottom: 3rem;
                }
            }
        }

        .space-right .shouk-container {
            padding: 0 1.5rem;
    
            .container-right img {
                height: 120px;
            }
        }        
    }
    .post-list.related-post-list {
        margin-top: 0;
    }
}

@include media-query($normal-width) {
    .post-content-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-flow: column-reverse;
                flex-flow: column-reverse;
        border: 0;

        .space-left {
            border: 0;

            .post-content-side-container {
                width: 100%;
                max-width: $mobile-width;
                position: static;
                top: 0;
                margin: 0 auto 1.5rem;
                padding: 0;

                .post-share-title, .dailyshot-referrer-container {
                    margin: 3rem 0 0.5rem;
                }

                .dailyshot-referrer-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                .post-share-title, .post-share-description, .dailyshot-referrer-container h3 {
                    text-align: center;
                }

                .post-share-description {
                    margin-bottom: 1.5rem;
                }

                button.copy {
                    margin-bottom: 3.5rem;
                }

                .outerlink-container svg {
                    width: 1.5rem;
                }
            }
        }

        .space-right {
            .post-content {
                margin: calc(56px + 3.5rem) 0 3.5rem;

                .post-title {
                    font-size: 2rem;
                }
            }

            .post-feedback {
                padding: 2.5rem 0;
            }

            // .shouk-container {
            //     margin-bottom: 3.5rem;
            //     padding: 0 1rem;
    
            //     .container-right img {
            //         height: 120px;
            //     }
            // }    
        }
    }
}

@include media-query($mobile-width) {
    .post-content-container {
        .space-left .post-content-side-container {
            .dailyshot-referrer-container h3, .post-share-title {
                font-size: 1.1rem;
            }

            .post-share-title {
                margin: 1.5rem 0 0.5rem;
            }

            .post-share-description {
                font-size: 0.875rem;
            }

            .outerlink-container h3 {
                font-size: 1rem;
            }
        }

        .space-right {
            .post-content {
                margin: 73px 0 2.5rem;
    
                .post-title {
                    margin-bottom: 2.5rem;
                    font-size: 1.75rem;
                    line-height: 1.3;
                }
    
                p,
                ul,
                ol,
                table {
                    margin: 1.25rem 0;
                    font-size: 1rem;
                }
    
                > p.infor {
                    font-size: 0.875rem;
                }
    
                h2 {
                    margin: 2.5rem 0 1.25rem;
                    font-size: 1.25rem;
                }

                .half-margin {
                    margin: 0.75rem 0;
                }
            }

            // .shouk-container {
            //     margin-bottom: 2.5rem;
            //     padding: 1rem;
            //     padding-bottom: 0;
            //     -webkit-box-orient: vertical;
            //     -webkit-box-direction: normal;
            //         -ms-flex-direction: column;
            //             flex-direction: column;

            //     .container-left {
            //         padding: 0.5rem 1rem;
            //         text-align: center;

            //         h3 {
            //             font-size: 1.1rem;
            //         }
    
            //         p {
            //             font-size: 0.875rem;
            //         }
            //     }
    

            //     .container-right img {
            //         height: 100px;
            //     }
            // }
        }
    }

    .post-list.related-post-list {
        margin: 0;
    }
}