@charset "utf-8";

$base-font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
$color-white: #ffffff;

$color-black: #000000;
$color-medium-gray: #666669;
$color-gray: #c9c9cc;
$color-light-gray: #f5f5f5;
$color-blue: #005BE4;


$color-dark-gray: #222223;
$color-light-blue: #69d6fe;

$border-rd: 0.5rem;

$wide-width: 1920px;
$normal-width: 1400px;
$mobile-width: 760px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin basic-transition($target) {
    -webkit-transition: $target 0.3s ease;
    -o-transition: $target 0.3s ease;
    transition: $target 0.3s ease;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-up {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

*{margin:0;padding:0;font:inherit;color:inherit;line-height: 1;}
*, :after, :before {box-sizing:border-box;flex-shrink:0;}
:root {-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;text-size-adjust:100%;cursor:default;overflow-wrap:break-word;word-break:break-word;tab-size:4}
html, body {height:100%;}
img, picture, video, canvas {display: block;max-width:100%;}
svg {display: inline-block;}
ul, ol {list-style: none;}
html {    
    font-size: 1vw;
    scroll-behavior: smooth;

    @include media-query($wide-width) {
        font-size: 1.1vw;
    }
    @include media-query($normal-width) {
        font-size: 1.3vw;
    }
    @include media-query(1000px) {
        font-size: 1.5vw;
    }
    @include media-query($mobile-width) {
        font-size: 4.5vw;
    }
}

body {
    font-family: $base-font-family;
    color: $color-black;
}

h1, h2, h3 {
    letter-spacing: -0.05rem;
}

.col-container {
    display: grid;
    gap: 1rem 2.5rem;

    @include media-query($wide-width) {
        gap: 1rem 1.5rem;
    }

    @include media-query($mobile-width) {
        gap: 1rem;
    }

    &.col-3 {
        grid-template-columns: repeat(3, 1fr);

        .col-1to2 {
            grid-column: 1 / 3;
        }

        .col-2to3 {
            grid-column: 2 / 4;
        }

        .col-1to3 {
            grid-column: 1 / 4;
        }
    }

    &.col-4 {
        grid-template-columns: repeat(4, 1fr);

        .col-1to2 {
            grid-column: 1 / 3;
        }

        .col-1to3 {
            grid-column: 1 / 4;
        }

        .col-1to4 {
            grid-column: 1 / 5;
        }

        @include media-query($normal-width) {
            grid-template-columns: repeat(3, 1fr);

            .col-1to4 {
                grid-column: 1 / 4;
            }
        }
    }

    &.zero-verticle-gap {
        row-gap: 0;
    }
}

%txt-md {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8;
    margin: 1.5rem 0;
    letter-spacing: -0.01rem;
    color: $color-medium-gray;

    a {
        @include basic-transition(all);

        &:hover {
            color: $color-blue;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }

    @include media-query($mobile-width) {
        margin: 1.25rem 0;
    }
}

%nav-a-style {
    font-size: 1rem;
    font-weight: 400;
    color: $color-medium-gray;
    letter-spacing: -0.01rem;
    text-decoration: none;
    margin-right: 1.25rem;
    @include basic-transition(all);

    &:hover {
        opacity: 0.3;
    }
}

.root-container {
    opacity: 0;
    animation: fade-in 0.75s ease forwards;
    padding: 3rem 3.75rem 6rem;

    .top-nav {
        position: fixed;
        top: 3rem;
        left: 3.75rem;
        z-index: 10;
        
        nav a {
            @extend %nav-a-style;

            &.active {
                font-weight: 500;
                color: $color-black;

                &:hover {
                    opacity: 1;
                }
            }
        }

        @include media-query($normal-width) {
            top: 2.5rem;
            left: 3rem;
        }
    }

    .content-container {
        section {
            padding: 3rem 0;

            header.subtitle h2 {
                font-size: 1rem;
                font-weight: 500;
                letter-spacing: -0.01rem;
                color: $color-black;
                margin-bottom: 2rem;
            }

            &#headcopy {
                padding-top: 0;
                grid-column: 1 / 5;
                p {
                    @extend %txt-md;
                    line-height: 1;
                    margin: 0 0 13rem 0;
                }
                h1 {
                    font-size: 3rem;
                    font-weight: 700;
                    color: $color-black;

                    .word-container {
                        position: relative;
                        overflow: hidden;
                        display: inline-block;
                        color: rgba($color-black, 0);
                        line-height: 1.1;

                        &::after {
                            content: attr(data-alt);
                            position: absolute;
                            z-index: -1;
                            top: 0;
                            left: 0;
                            color: $color-black;
                            animation: slide-up 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
                            transform: translateY(100%);
                        }

                        &:nth-of-type(1)::after {
                            animation-delay: 0.4s;
                        }
                        &:nth-of-type(2)::after {
                            animation-delay: 0.45s;
                        }
                        &:nth-of-type(3)::after {
                            animation-delay: 0.5s;
                        }
                        &:nth-of-type(4)::after {
                            animation-delay: 0.55s;
                        }
                        &:nth-of-type(5)::after {
                            animation-delay: 0.6s;
                        }
                        &:nth-of-type(6)::after {
                            animation-delay: 0.65s;
                        }
                        &:nth-of-type(7)::after {
                            animation-delay: 0.7s;
                        }
                        &:nth-of-type(8)::after {
                            animation-delay: 0.75s;
                        }
                        &:nth-of-type(9)::after {
                            animation-delay: 0.8s;
                        }
                        &:nth-of-type(10)::after {
                            animation-delay: 0.85s;
                        }
                    }

                    .blue-word::after {
                        color: $color-blue;
                    }                    
                }
            }

            &#introduce {
                .description-me {
                    p {
                        @extend %txt-md;
                    }
                    img {
                        border-radius: $border-rd;
                    }
                }            
            }

            &#contact {
                padding-bottom: 2rem;
                article {
                    p {
                        @extend %txt-md;
                        margin: 0;
                    }
                }
            }
            &#skills {
                padding-top: 2rem;

                .skill-tab {
                    margin-bottom: 1.5rem;
    
                    button {
                        background: none;
                        border: none;
                        font-size: 0.75rem;
                        font-weight: 500;
                        color: $color-medium-gray;
                        padding: 0.4rem 0.6rem;
                        display: inline-block;
                        border-radius: 0.5rem;
                        cursor: pointer;
                        @include basic-transition(background-color);
    
                        &:hover {
                            background-color: rgba($color-blue, 0.05);
                        }
    
                        &.active {
                            font-weight: 700;
                            color: $color-blue;
                            border-bottom: 3px solid $color-blue;
                            border-radius: 0;
    
                            &:hover {
                                background: none;
                            }
                        }
                    }
                }
    
                ul li {
                    border: 1px solid $color-medium-gray;
                    color: $color-medium-gray;
                    font-size: 0.75rem;
                    border-radius: 10rem;
                    display: inline-block;
                    padding: 0.25rem 0.5rem;
                    margin: 0 0 0.4rem 0;
                }
    
                ul.by-keyword {
                    display: none;
                }
            }

            &#experiences {
                .callbuslab-summary {                    
                    p {
                        @extend %txt-md;
                    }
                    
                    header {
                        h3 {
                            font-weight: 600;
                            line-height: 1;
                            font-size: 1.75rem;
                        }
                        p {
                            line-height: 1;
                            font-size: 0.875rem;
                            margin-top: 0.4rem;
                        }
                    }

                    article {
                        align-items: flex-start;
                        .product-banner {
                            margin-top: 1.5rem;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            border-radius: $border-rd;
                            background-color: $color-light-gray;
                            padding: 0.75rem;
                            text-decoration: none;
                            border: 1px solid rgba($color-black, 0.00);
                            @include basic-transition(all);

                            &:hover {
                                transform: scale(1.03);
                                box-shadow: 0 0.5rem 1rem -0.5rem rgba($color-black, 0.25);
                                border-color: rgba($color-black, 0.05);
                            }
                            
                            .description {
                                display: inherit;
                                align-items: inherit;

                                .icon-app {
                                    width: 2rem;
                                    height: auto;
                                    margin-right: 0.5rem;
                                    box-shadow: 0 0.25rem 0.5rem -0.25rem #feda10;
                                }

                                h4 {
                                    font-size: 0.75rem;
                                    font-weight: 600;
                                    margin-bottom: 0.1rem;
                                }
                                p {
                                    font-size: 0.6rem;
                                    margin-top: 0;
                                    line-height: 1;
                                    color: $color-medium-gray;
                                }
                            }

                            .icon-arrow {
                                width: 1rem;
                                height: auto;
                                fill: $color-medium-gray;
                            }
                        }
                    }
                }
            }

            &#major-jobs {
                .job-card-container {
                    row-gap: 2.5rem;

                    .job-card {
                        border-radius: $border-rd;
                        text-decoration: none;
                        position: relative;
                        cursor: pointer;
                        @include basic-transition(all);

                        &:hover {
                            transform: scale(1.03);
                            box-shadow: 0 1rem 2rem -1rem $color-black;
                            .icon-fullsize {
                                opacity: 1;
                            }

                            .card-thumbnail img {
                                height: 115%;
                                opacity: 0.7;
                            }

                            .card-bottom .card-description {
                                opacity: 0.7;
                            }
                        }
                        
                        &.proj-retention {
                            background-color: #141e2d;
                        }

                        &.proj-onboarding {
                            background-color: #1b1e24;
                        }

                        &.proj-chat {
                            background-color: #192e26;
                        }

                        &.proj-ds {
                            background-color: #3a3b59;                            
                        }
                        
                        .icon-fullsize {
                            @include basic-transition(opacity);
                            width: 1.75rem;
                            height: 1.75rem;
                            border-radius: 1rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: rgba($color-white, 0.1);
                            position: absolute;
                            top: 0.75rem;
                            right: 0.75rem;
                            z-index: 1;
                            line-height: 1;
                            opacity: 0;

                            svg {
                                width: 1rem;
                                height: auto;
                                fill: $color-white;
                            }
                        }

                        .card-thumbnail {
                            width: 100%;
                            overflow: hidden;
                            height: 10rem;
                            position: relative;
                            border-top-left-radius: $border-rd;
                            border-top-right-radius: $border-rd;
                            
                            img {
                                @include basic-transition(all);
                                max-width: fit-content;
                                height: 105%;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }
                        }

                        .card-bottom {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            color: $color-white;
                            padding: 1.25rem;

                            .card-description {
                                @include basic-transition(opacity);
                                width: fit-content;

                                h4 {
                                    font-weight: 500;
                                    font-size: 0.875rem;
                                    margin-bottom: 0.75rem;
                                    line-height: 1.2;
                                }
    
                                p {
                                    font-size: 0.75rem;
                                    line-height: 1.3;
                                    opacity: 0.6;
                                }
                            }
                        }
                    }

                    @include media-query($wide-width) {
                        row-gap: 1.5rem;
                    }
                }
            }

            .sub-job-list {
                border-top: 2px solid $color-medium-gray;
                border-bottom: 2px solid $color-medium-gray;

                .sub-job-item {
                    padding: 1.5rem 0;
                    border-bottom: 1px solid $color-gray;

                    &:last-child {
                        border-bottom: none;
                    }

                    h5, p, header span {
                        font-size: 0.875rem;
                        letter-spacing: -0.01rem;
                        color: $color-medium-gray;
                        line-height: 1.5;
                        font-weight: 400;
                    }

                    h5 {
                        color: $color-black;
                        font-weight: 500;
                    }

                    p {
                        margin-bottom: 1rem;
                        &:last-child {
                            margin-bottom: 0;
                        }

                        a {
                            @include basic-transition(all);
                    
                            &:hover {
                                color: $color-blue;
                            }
                        }
                    }

                    header span {
                        margin-top: 0.1rem;
                        font-size: 0.6rem;
                        color: $color-medium-gray;
                    }

                    &.accordion-item {
                        cursor: pointer;
                        background-color: $color-white;
                        @include basic-transition(all);

                        header, article {
                            @include basic-transition(opacity);
                        }

                        .summary {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            p {
                                flex-shrink: 1;
                                margin: 0;
                            }

                            .icon-expand {
                                @include basic-transition(all);
                                width: 1.25rem;
                                height: auto;
                                fill: $color-gray;
                                margin-left: 0.75rem;
                            }
                        }

                        .expand {
                            display: none;
                            margin: 2rem 0 1rem;

                            .number-txt {
                                span {
                                    display: block;
                                    &:first-child {
                                        color: $color-black;
                                        font-size: 1.25rem;
                                        font-weight: 500;
                                        margin-bottom: 0.25rem;
                                        letter-spacing: -0.05rem;
                                    }

                                    &:last-child {
                                        font-size: 0.75rem;
                                        color: $color-medium-gray;
                                    }
                                }

                            }

                            img {
                                margin: 1.5rem 0;
                                border-radius: $border-rd;
                            }

                            .inexpand-banner {
                                padding: 1rem;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                margin-top: 1rem;
                                background-color: $color-light-gray;
                                border-radius: $border-rd;
                                text-decoration: none;
                                @include basic-transition(all);

                                .icon-arrow {
                                    width: 1rem;
                                    height: auto;
                                }

                                span {
                                    font-size: 0.875rem;
                                    color: $color-black;
                                }

                                &:hover {
                                    background-color: $color-gray;
                                    transform: scale(1.02);
                                    box-shadow: 0 0.5rem 1rem -0.5rem rgba($color-black, 0.25);
                                }
                            }
                        }

                        &:hover {
                            background-color: rgba($color-light-gray, 0.25);
                            transform: scale(0.99);
                            header, article {
                                opacity: 0.8;
                            }
                            .summary .icon-expand {
                                fill: $color-black;
                            }
                        }

                        &.active {
                            .summary .icon-expand {
                                transform: rotate(180deg);
                            }
                            .expand {
                                display: block;
                            }
                        }
                    }
                }
            }

            &#portfolio article {
                margin: 0;
                @extend %txt-md;
                a {
                    display: block;

                    &:first-child {
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }

    @include media-query($wide-width) {
        .content-container section#headcopy h1 {
            font-size: 2.75rem;
        }
    }

    @include media-query($normal-width) {
        padding: 2.5rem 3rem 4rem;
        .content-container {
            padding: 2rem 0;

            &#contact {
                padding-bottom: 1.5rem;
            }

            &#skills {
                padding-top: 1.5rem;
            }
        }
    }

    @include media-query($mobile-width) {
        padding: 1rem 1.5rem;

        .top-nav, .content-container {
            grid-column: 1 / 4 !important;
            display: block;
        }

        .top-nav {
            top: 0;
            left: 0;
            width: 100vw;
            background-color: rgba($color-white, 0.85);
            backdrop-filter: blur(1rem);
            padding: 1rem 1.5rem;

            nav a {
                font-size: 0.875rem;
                margin-right: 1rem;
            }
        }

        .content-container section {
            padding: 2rem 0;

            &#headcopy {
                margin-top: 5rem;
                p {
                    display: none;
                }
                h1 {
                    font-size: 1.5rem;
                }
            }

            header.subtitle h2 {
                margin-bottom: 1.25rem;
            }

            &#experiences .callbuslab-summary {                    
                header h3 {
                    font-size: 1.5rem;
                }
                
                article {
                    display: block;
                    .product-banner {
                        margin-top: 1.25rem;

                        .description {
                            .icon-app {
                                width: 2.5rem;
                            }
                            h4 {
                                font-size: 0.875rem;
                            }
                            p {
                                font-size: 0.75rem;
                            }
                        }
                    }
                }
            }

            &#major-jobs .job-card-container {
                display: block;

                .job-card {
                    display: block;
                    margin-bottom: 1.25rem;

                    .card-thumbnail {
                        height: 9rem;
                        img {
                            height: auto;
                            width: 100%;
                        }
                    }
                    .card-bottom {
                        padding: 1rem;
                        .card-description h4 {
                            margin-bottom: 0.5rem;
                        }
                    }
                }
            }

            .sub-job-list .sub-job-item {
                display: block;
                padding: 1.25rem 0;
                header {
                    margin-bottom: 0.5rem;
                    display: flex;
                    align-items: center;

                    span {
                        font-size: 0.75rem;
                        margin-left: 0.5rem;
                    }
                }
            }                
        }
    }
}

footer {
    padding: 3.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-light-gray;

    a, p {
        @extend %nav-a-style;

        &:last-child {
            margin-right: 0;
        }
    }

    p {
        display: inline-block;
        &:hover {
            opacity: 1;
        }
    }

    @include media-query($normal-width) {
        padding: 3rem;
    }

    @include media-query($mobile-width) {
        padding: 1.5rem;
        flex-direction: column;
        align-items: flex-start;

        p, a {
            font-size: 0.875rem;
            margin-right: 0.75rem;
        }

        p {
            margin-bottom: 1.5rem;
            color: $color-gray;
        }

        a {
            margin-bottom: 0.5rem;
            display: inline-block;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}