@charset "utf-8";

$base-font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
$color-white: #ffffff;

$color-black: #000000;
$color-medium-gray: #222223;
$color-gray: #afafb3;
$color-light-gray: #f2f2f3;
$color-lighter-gray: #fbfbfc;
$color-blue: #005BE4;

$color-light-blue: #69d6fe;

$border-rd: 1.25rem;

$wide-width: 1920px;
$normal-width: 1400px;
$mobile-width: 760px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin basic-transition($target) {
    -webkit-transition: $target 0.3s ease;
    -o-transition: $target 0.3s ease;
    transition: $target 0.3s ease;
}

@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes slide-up {
    from {
        -webkit-transform: translateY(100%);
                transform: translateY(100%);
    }
    to {
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
    }
}

@keyframes slide-up {
    from {
        -webkit-transform: translateY(100%);
                transform: translateY(100%);
    }
    to {
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
    }
}

*{margin:0;padding:0;font:inherit;color:inherit;line-height: 1;}
*, :after, :before {-webkit-box-sizing:border-box;box-sizing:border-box;-ms-flex-negative:0;flex-shrink:0;}
:root {-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;-moz-text-size-adjust:100%;-ms-text-size-adjust:100%;text-size-adjust:100%;cursor:default;overflow-wrap:break-word;word-break:break-word;-moz-tab-size:4;-o-tab-size:4;tab-size:4}
html, body {height:100%;}
img, picture, video, canvas {display: block;max-width:100%;}
svg {display: inline-block;}
ul, ol {list-style: none;}
html {    
    font-size: 1vw;
    scroll-behavior: smooth;

    @include media-query($wide-width) {
        font-size: 1.3vw;
    }
    @include media-query($normal-width) {
        font-size: 1.5vw;
    }
    @include media-query(1000px) {
        font-size: 1.8vw;
    }
    @include media-query($mobile-width) {
        font-size: 4.5vw;
    }
}

body {
    font-family: $base-font-family;
    color: $color-black;
}

h1, h2, h3 {
    letter-spacing: -0.05rem;
}

.col-container {
    display: grid;
    gap: 0 2.5rem;

    @include media-query($wide-width) {
        gap: 0 1.5rem;
    }

    @include media-query($mobile-width) {
        gap: 1rem;
    }

    &.col-3 {
        grid-template-columns: repeat(3, 1fr);

        .col-1to2 {
            grid-column: 1 / 3;
        }

        .col-2to3 {
            grid-column: 2 / 4;
        }

        .col-1to3 {
            grid-column: 1 / 4;
        }

        @include media-query($mobile-width) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &.col-4 {
        grid-template-columns: repeat(4, 1fr);

        .col-1to2 {
            grid-column: 1 / 3;
        }

        .col-1to3 {
            grid-column: 1 / 4;
        }

        .col-1to4 {
            grid-column: 1 / 5;
        }

        .col-2to4 {
            grid-column: 2 / 5;
        }

        .col-3to4 {
            grid-column: 3 / 5;
        }

        @include media-query($normal-width) {
            grid-template-columns: repeat(3, 1fr);

            .col-1to4 {
                grid-column: 1 / 4;
            }
        }

        @include media-query($mobile-width) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &.zero-verticle-gap {
        row-gap: 0;
    }
}

%txt-md {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    margin: 0.25rem 0;
    letter-spacing: -0.01rem;
    color: $color-medium-gray;

    a {
        @include basic-transition(all);

        &:hover {
            color: $color-blue;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }

    strong {
        font-weight: 700;
    }
}

%nav-a-style {
    font-size: 0.9rem;
    font-weight: 400;
    color: $color-gray;
    letter-spacing: -0.01rem;
    text-decoration: none;
    margin-right: 1.25rem;
    @include basic-transition(all);

    &:hover {
        opacity: 0.5;
    }
}

.icon-expand {
    @include basic-transition(all);
    width: 1.25rem;
    height: auto;
    fill: $color-gray;
    margin-left: 0.75rem;
}

.strip-list {
    li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 0.25rem;

        &:last-child {
            margin: 0;
        }

        &::before {
            content: '–';
            margin-right: 0.75rem;
            -ms-flex-negative: 0;
                flex-shrink: 0;
            line-height: 1.5;
        }

        p {
            @extend %txt-md;
            -ms-flex-negative: 1;
                flex-shrink: 1;
            margin: 0;
            word-break: keep-all;
        }
    }
}

.link-tag {
    margin-left: 0.5rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 0.75rem;
    padding: 0.1rem 0.3rem 0.1rem 0.5rem;
    color: $color-medium-gray;
    font-weight: 400;
    border-radius: $border-rd;
    border: 1px solid $color-medium-gray;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
    @include basic-transition(all);

    svg {
        width: 1rem;
    }

    &:hover {
        color: $color-white;
        background-color: $color-black;
        border-color: $color-black;
    }
}

.root-container {
    opacity: 0;
    -webkit-animation: fade-in 0.75s ease forwards;
            animation: fade-in 0.75s ease forwards;
    padding: 2rem 3rem 4rem;

    .top-nav {
        position: fixed;
        top: 2rem;
        left: 3rem;
        z-index: 10;
        
        nav a {
            @extend %nav-a-style;

            &.active {
                font-weight: 600;
                color: $color-black;

                &:hover {
                    opacity: 1;
                }
            }
        }

        @include media-query($normal-width) {
            top: 2.5rem;
            left: 3rem;
        }
    }

    .content-container {
        .site-title {
            @extend %txt-md;
            font-size: 0.9rem;
            color: $color-gray;
            line-height: 1;
            margin: 0 0 25vh 0;
        }

        section {
            padding: 4rem 0;

            header.subtitle h3,
            .job-list h3,
            .job-list .job-item h5 {
                color: $color-black;
                margin: 0 0 0.5rem;
                font-size: 1.1rem;
                font-weight: 700;
            }

            header.subtitle {
                h2 {
                    font-size: 2rem;
                    font-weight: 700;
                    letter-spacing: -0.01rem;
                    color: $color-black;
                    margin-bottom: 2rem;
                    border-top: 1px solid $color-black;
                    padding-top: 0.75rem;
                }

                h3 {
                    letter-spacing: -0.02rem;
                    margin-bottom: 2rem;
                }
            }

            &#headcopy {
                border: none;

                h1 {
                    font-size: 2.75rem;
                    font-weight: 700;
                    color: $color-black;
                    
                    .word-container {
                        position: relative;
                        overflow: hidden;
                        display: inline-block;
                        color: rgba($color-black, 0);
                        line-height: 1.1;
    
                        &::after {
                            content: attr(data-alt);
                            position: absolute;
                            z-index: -1;
                            top: 0;
                            left: 0;
                            color: $color-black;
                            -webkit-animation: slide-up 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
                                    animation: slide-up 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
                            -webkit-transform: translateY(100%);
                                -ms-transform: translateY(100%);
                                    transform: translateY(100%);
                        }
    
                        &:nth-of-type(1)::after {
                            -webkit-animation-delay: 0.4s;
                                    animation-delay: 0.4s;
                        }
                        &:nth-of-type(2)::after {
                            -webkit-animation-delay: 0.45s;
                                    animation-delay: 0.45s;
                        }
                        &:nth-of-type(3)::after {
                            -webkit-animation-delay: 0.5s;
                                    animation-delay: 0.5s;
                        }
                        &:nth-of-type(4)::after {
                            -webkit-animation-delay: 0.55s;
                                    animation-delay: 0.55s;
                        }
                        &:nth-of-type(5)::after {
                            -webkit-animation-delay: 0.6s;
                                    animation-delay: 0.6s;
                        }
                        &:nth-of-type(6)::after {
                            -webkit-animation-delay: 0.65s;
                                    animation-delay: 0.65s;
                        }
                        &:nth-of-type(7)::after {
                            -webkit-animation-delay: 0.7s;
                                    animation-delay: 0.7s;
                        }
                        &:nth-of-type(8)::after {
                            -webkit-animation-delay: 0.75s;
                                    animation-delay: 0.75s;
                        }
                        &:nth-of-type(9)::after {
                            -webkit-animation-delay: 0.8s;
                                    animation-delay: 0.8s;
                        }
                        &:nth-of-type(10)::after {
                            -webkit-animation-delay: 0.85s;
                                    animation-delay: 0.85s;
                        }
                    }

                    .blue-word::after {
                        color: $color-blue;
                    }                    

                }
                
                .contact {
                    -ms-flex-item-align: end;
                        align-self: end;
    
                    p {
                        @extend %txt-md;
                        font-size: 0.9rem;
    
                        &:last-child {
                            margin-bottom: 0.5rem;
                        }
                    }
                }
            }

            &#about {
                .introduce, .skills {
                    margin-top: 3rem;
                }

                .introduce {
                    .lg-copy {
                        font-size: 1.375rem;
                        font-weight: 600;
                        line-height: 1.4;
                        color: $color-black;
                        margin-bottom: 2rem;
                        word-break: keep-all;
                        
                        &:first-child {
                            text-indent: 35%;
                        }

                        &:last-of-type {
                            margin-bottom: 3.5rem;
                        }
                    }

                    .job-list {
                        hr {
                            border: none;
                            border-top: 1px solid $color-light-gray;
                        }
                        .job-item {
                            margin: 1.5rem 0;
                            
                            .summary p {
                                @extend %txt-md;
                            }
                        }
                    }
                    
                }

                .skills {    
                    .skill-tab {
                        margin-bottom: 1.5rem;
        
                        button {
                            background: none;
                            border: none;
                            font-size: 0.75rem;
                            font-weight: 500;
                            color: $color-medium-gray;
                            padding: 0.4rem 0.6rem;
                            display: inline-block;
                            border-radius: 0.5rem;
                            cursor: pointer;
                            @include basic-transition(background-color);
        
                            &:hover {
                                background-color: rgba($color-blue, 0.05);
                            }
        
                            &.active {
                                font-weight: 700;
                                color: $color-blue;
                                border-bottom: 3px solid $color-blue;
                                border-radius: 0;
        
                                &:hover {
                                    background: none;
                                }
                            }
                        }
                    }
        
                    ul li {
                        border: 1px solid $color-medium-gray;
                        color: $color-medium-gray;
                        font-size: 0.75rem;
                        border-radius: 10rem;
                        display: inline-block;
                        padding: 0.25rem 0.5rem;
                        margin: 0 0 0.4rem 0;
                    }
        
                    ul.by-keyword {
                        display: none;
                    }
                }

                .education .job-item {
                    margin-bottom: 0;
                }

                .links {
                    article {
                        margin-top: 3rem;

                        a:first-child:hover svg.icon {
                            fill: $color-white;
                        }
                    }
                }
            }

            .job-list {
                h3 {                    
                    border-top: 1px solid $color-light-gray;
                    margin-top: 3rem;
                    padding-top: 1rem;
                    letter-spacing: -0.02rem;
                }

                .job-item {
                    margin: 3rem 0;
                    padding: 0.5rem 0;

                    &:last-child {
                        border-bottom: none;
                    }

                    header span {
                        @extend %txt-md;
                    }

                    h5, header span {
                        line-height: 1;
                    }

                    h5 {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                            -ms-flex-align: center;
                                align-items: center;
                    }

                    p {
                        a {
                            @include basic-transition(all);
                    
                            &:hover {
                                color: $color-blue;
                            }
                        }
                    }

                    article > p {
                        @extend %txt-md;
                    }

                    header span {
                        font-size: 0.75rem;
                        color: $color-gray;
                    }

                    &.accordion-item {
                        cursor: pointer;
                        background-color: $color-white;
                        outline: 1.5rem solid rgba($color-lighter-gray, 0);
                        border-radius: $border-rd;
                        @include basic-transition(all);

                        header, article {
                            @include basic-transition(opacity);
                        }

                        .summary {
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-align: center;
                                -ms-flex-align: center;
                                    align-items: center;
                            -webkit-box-pack: justify;
                                -ms-flex-pack: justify;
                                    justify-content: space-between;

                            .summary-description, p {
                                -ms-flex-negative: 1;
                                    flex-shrink: 1;
                            }
                        }

                        .expand {
                            display: none;
                            margin: 2.5rem 0 1rem;
                            
                            > p {
                                @extend %txt-md;
                                margin: 2.5rem 0;
                            }

                            .number-txt {
                                span {
                                    display: block;
                                    &:first-child {
                                        color: $color-black;
                                        font-size: 1.25rem;
                                        font-weight: 500;
                                        margin-bottom: 0.25rem;
                                        letter-spacing: -0.05rem;
                                    }

                                    &:last-child {
                                        font-size: 0.75rem;
                                        color: $color-medium-gray;
                                    }
                                }

                            }

                            img {
                                margin: 1.5rem 0;
                                width: 100%;
                                border-radius: $border-rd;
                            }

                            .inexpand-banner {
                                padding: 1rem;
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                -webkit-box-align: center;
                                    -ms-flex-align: center;
                                        align-items: center;
                                -webkit-box-pack: justify;
                                    -ms-flex-pack: justify;
                                        justify-content: space-between;
                                margin-top: 1rem;
                                background-color: $color-light-gray;
                                border-radius: $border-rd;
                                text-decoration: none;
                                @include basic-transition(all);

                                .icon-arrow {
                                    width: 1rem;
                                    height: auto;
                                }

                                span {
                                    font-size: 0.875rem;
                                    color: $color-black;
                                }

                                &:hover {
                                    background-color: $color-gray;
                                    -webkit-transform: scale(1.02);
                                        -ms-transform: scale(1.02);
                                            transform: scale(1.02);
                                    -webkit-box-shadow: 0 0.5rem 1rem -0.5rem rgba($color-black, 0.25);
                                            box-shadow: 0 0.5rem 1rem -0.5rem rgba($color-black, 0.25);
                                }
                            }
                        }

                        &:hover {
                            background-color: rgba($color-lighter-gray, 1);
                            outline-color: rgba($color-lighter-gray, 1);

                            -webkit-transform: scale(0.98);
                                -ms-transform: scale(0.98);
                                    transform: scale(0.98);
                            header, article {
                                opacity: 0.6;
                            }
                            .summary .icon-expand {
                                fill: $color-black;
                            }
                        }

                        &.active {
                            .summary .icon-expand {
                                -webkit-transform: rotate(180deg);
                                    -ms-transform: rotate(180deg);
                                        transform: rotate(180deg);
                            }
                            .expand {
                                display: block;
                            }
                        }
                    }
                }
            }

            a.link-block {
                padding: 1rem;
                border-radius: $border-rd;
                text-decoration: none;
                margin-bottom: 1.5rem;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                @include basic-transition(all);
                border: 1px solid $color-medium-gray;

                .icon {
                    width: 1.5rem;
                    margin-right: 0.5rem;
                    height: auto;
                    border-radius: 8px;
                }

                img.icon {
                    border: 1px solid $color-light-gray;
                }

                &:hover {
                    background-color: $color-black;
                    color: $color-white;
                    -webkit-transform: scale(1.05);
                        -ms-transform: scale(1.05);
                            transform: scale(1.05);
                    -webkit-box-shadow: 0 0.5rem 1rem -0.5rem rgba($color-black, 0.25);
                            box-shadow: 0 0.5rem 1rem -0.5rem rgba($color-black, 0.25);
                }
            }
        }
    }

    @include media-query($wide-width) {
        .content-container section#headcopy h1 {
            font-size: 2.75rem;
        }
    }

    @include media-query($normal-width) {
        padding: 2.5rem 3rem 4rem;

        .content-container section#about .introduce .lg-copy:first-child {
            text-indent: 0;
        }
    }

    @include media-query($mobile-width) {
        padding: 1rem 1.5rem;

        .top-nav, .content-container {
            grid-column: 1 / 4 !important;
            display: block;
        }

        .top-nav {
            top: 0;
            left: 0;
            width: 100vw;
            background-color: rgba($color-white, 0.85);
            -webkit-backdrop-filter: blur(1rem);
                    backdrop-filter: blur(1rem);
            padding: 1rem 1.5rem;

            nav a {
                font-size: 0.875rem;
                margin-right: 1rem;
            }
        }

        .content-container {
            .site-title {
                display: none;
            }

            section {
                padding: 2.25rem 0;
    
                &#headcopy {
                    margin-top: 5rem;
                    
                    h1 {
                        font-size: 1.5rem;
                    }
                }
    
                header.subtitle {
                    h2 {
                        margin-bottom: 1.5rem;
                        font-size: 1.6rem;
                    }
                    h3 {
                        border-top: 1px solid $color-light-gray;
                        margin-top: 0.5rem;
                        margin-bottom: 0.5rem;
                        padding-top: 1rem;
                    }
                }

                .job-list {
                    h3 {
                        margin-top: 0.5rem;
                    }

                    .job-item {
                        display: block;
                        padding: 1.25rem 0;
                        header {
                            margin-bottom: 1.25rem;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-align: center;
                                -ms-flex-align: center;
                                    align-items: center;
    
                            h5 {
                                margin-bottom: 0;
                                margin-right: 0.5rem;
                            }
        
                            span {
                                font-size: 0.75rem;
                            }
                        }
                        
                        margin: 0.5rem 0;
                    }                
                }

                a.link-block {
                    margin-bottom: 0;
                }

                &#about {
                    > article {
                        display: block;

                        .introduce {
                            .lg-copy:last-of-type {
                                margin-bottom: 1.5rem;
                            }

                            .job-list .job-item {
                                margin: 0;
                            }
                        }

                        .links article {
                            margin-top: 1.5rem;
                        }
                    }
                }
            }
        }        
    }
}

footer {
    padding: 3.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: $color-lighter-gray;

    p {
        @extend %nav-a-style;
        display: inline-block;
        &:hover {
            opacity: 1;
        }
    }

    @include media-query($normal-width) {
        padding: 3rem;
    }

    @include media-query($mobile-width) {
        padding: 1.5rem;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;

        p, a {
            font-size: 0.875rem;
        }

        p {
            margin-bottom: 1.5rem;
            color: $color-gray;
        }
    }
}