.about-author {
    margin-bottom: 0;
    background-color: $dark-color;
    display: block;
    
    .space-container {
        .category-link {
            button,
            .category-title {
                color: $background-color;
            }

            button {
                border-color: $background-color;
            }

            &:hover button {
                background-color: $background-color;
                color: $dark-color;
            }
        }

        .about-author-description {
            font-family: $title-font-family;
            color: #76728e;
            font-size: 1.75rem;
            line-height: 1.5;
            margin-bottom: 2rem;

            &:last-child {
                margin-bottom: 0;
            }

            .name {
                color: $background-color;
            }
        }

        @include media-query($normal-width) {
            .list-category .category-list-container .category-link {
                margin: 0;
            }

            .about-author-description {
                font-size: 1.5rem;
            }
        }

        @include media-query($mobile-width) {
            .list-category {
                margin-bottom: 1.5rem;
            }

            .about-author-description {
                font-size: 1.1rem;
                line-height: 1.6;
            }
        }
    }

    .verticle-banner {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }
}