---
layout: base
category: category-list
---
<div id="article-page">
    <section class="post-list">
            {% for post in paginator.posts %}
                <a title="{{ post.title }}" href="{{ post.url }}" class="post-list-item" title="{{ post.title | prepend : 'Read' }}">
                    <div class="post-thumbnail"><div class="img-source" style="background-image: url('{{ site.cdn_url | append: post.thumbnail }}')"></div></div>
                    <div class="post-description">
                        <span class="post-topic">{{ post.topic }}</span>
                        <div class="post-intro">
                            <h2>{{ post.title }}</h2>
                            <p class="post-excerpt">{{ post.excerpt }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}

            {% if paginator.total_pages > 1 %}
                <div class="pagination">
                {% if paginator.previous_page %}
                    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" title="Previous"><i class='bx bx-chevron-left'></i> 이전</a>
                {% else %}
                    <a class="disable-txt"><i class='bx bx-chevron-left' title="Previous"></i> 이전</a>
                {% endif %}

                {% for page-paginator in (1..paginator.total_pages) %}
                    {% if page-paginator == paginator.page %}
                    <a class="now-page" title="This Page">{{ page-paginator }}</a>
                    {% elsif page-paginator == 1 %}
                    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" title="Page {{ page-paginator }}">{{ page-paginator }}</a>
                    {% else %}
                    <a href="{{ page.path-paginator | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page-paginator }}" title="Page {{ page-paginator }}">{{ page-paginator }}</a>
                    {% endif %}
                {% endfor %}

                {% if paginator.next_page %}
                    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" title="Next">다음 <i class='bx bx-chevron-right'></i></a>
                {% else %}
                    <a class="disable-txt">다음 <i class='bx bx-chevron-right' title="Next"></i></a>
                {% endif %}
                </div>
            {% endif %}
    </section>
</div>
<script>
        document.getElementById('nav').classList.add('show')
</script>
{{ content }}