---
layout: base
category: category-list
---
{% assign dateNow = 'now' | date: '%s' %}
{% assign current_collection = site.data.collection_info | where: "name", page.pagination.collection | first %}

<!-- 카테고리별 헤더 -->
{% if paginator.page == 1 %}
    <section class="category-header" id="nav-set">
        <h1 class="category-title" title="{{ current_collection.title }}">
            {{ current_collection.svg }}
        </h1>
        <p class="category-description">
            {{ current_collection.description }}
            <br>
            {{ current_collection.title }}
        </p>
    </section>

    <script>
        const topNav = document.getElementById('nav')
        const navSet = document.getElementById('nav-set')

        window.onscroll = () => {
            if (window.pageYOffset >= navSet.offsetHeight) topNav.classList.add('show')
            else topNav.classList.remove('show')
        }
    </script>
{% else %}
    <script>
        document.getElementById('nav').classList.add('show')
    </script>
{% endif %}

<!-- Tag 목록 -->
<section class="tag-list {% if paginator.page == 1 %}margin-top-zero{% endif %}">
    {% if current_collection.tags %}
        {% for tag in current_collection.tags %}
            <a href="{{ tag.link | relative_url }}" title="{{ tag.name }} 글 모아보기" class="tag-button ghost-round-button
            {% if page.url contains tag.link %}active{% endif %}">
                {{ tag.name }}
            </a>
        {% endfor %}
    {% endif %}
</section>

<!-- 포스트 목록 -->
<section class="post-list three-row recent-article">
    {% assign count = 0 %}
    {% for post in paginator.posts %}
        {% assign postDate = post.date | date: '%s' %}
        {% if count > 10 or dateNow < postDate %}
            {% break %}
        {% else %}
            {% assign count = count | plus: 1 %}
            <a title="{{ post.title | prepend: ' - ' | prepend: site.title}}" href="{{ post.url }}"
                class="post-list-item rise-target sequential-rise-target">
                <div class="post-thumbnail">
                    <div class="img-source" style="background-image: url('{{ post.thumbnail }}')"></div>
                </div>
                <div class="post-description">
                    <div class="post-intro">
                        <h3>{{ post.title }}</h3>
                        <p class="post-excerpt">{{ post.excerpt }}</p>
                    </div>
                </div>
            </a>
        {% endif %}
    {% endfor %}
    <div class="ads-container ads-container-relative-feedcard rise-target third-position">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7525347021497850" crossorigin="anonymous"></script>
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-format="fluid"
                data-ad-layout-key="-6h+cl+f-1w+d1"
                data-ad-client="ca-pub-7525347021497850"
                data-ad-slot="9019438848"></ins>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>
</section>

<!-- 페이지 목록 -->
{% if paginator.page_trail %}
<div class="pagination">
    {% for trail in paginator.page_trail %}
    <a {% if page.url==trail.path %}class="now-page" {% endif %} href="{{ trail.path | prepend: site.baseurl }}"
        title="{{ trail.title }}">{{ trail.num }}</a>
    {% endfor %}
</div>
{% endif %}

{{ content }}