---
layout: base
---
<script>
    document.getElementById('nav').classList.add('show')
</script>

<section class="post-content-container space-container">
    <div class="space-left">
        <div class="post-content-side-container">
            <h3 class="post-share-title rise-target">매거진 입맛, 자유롭게 공유하세요.</h3>
            <p class="post-share-description rise-target">개인 블로그, 메모, 사내 래퍼런스 공유 채널, 어디든지 좋습니다.
                {% if page.category == 'design-teatime' %}
                    인사이트는
                {% elsif page.category == 'review' %}
                    취향은
                {% else %}
                    문학은
                {%- endif -%}나눌 수록 커지니까요.
            </p>
            <button id="post-share" class="rise-target">
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16 16" fill="currentColor" class="bi bi-subtract"><path d="M0 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2z"/></svg>이 글의 공유 링크 복사
            </button>
            <a rel="noreferrer" class="outerlink-container rise-target" target="_blank" href="https://forms.gle/wvj73q8MWBv2j44h7" title="매거진 입맛 뉴스레터 구독 신청">
                <h3>뉴스레터 구독 신청</h3>
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16 16" fill="currentColor" class="bi bi-arrow-right-short"><path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/></svg>
            </a>
            <a rel="noreferrer" class="outerlink-container rise-target" target="_blank" href="https://forms.gle/26d5yuzwQB3D44zm7" title="콘텐츠 주제 제안">
                <h3>콘텐츠 주제 제안</h3>
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16 16" fill="currentColor" class="bi bi-arrow-right-short"><path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/></svg>
            </a>
            <!-- <a rel="noreferrer" class="outerlink-container rise-target" target="_blank" href="https://shouk.today?utm_source=mag_epmat&utm_medium=sidebar_banner" title="슉 바로가기">
                <h3>슉 - 인사이트 요약 커뮤니티</h3>
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16 16" fill="currentColor" class="bi bi-arrow-right-short"><path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/></svg>
            </a> -->
        </div>
    </div>
    <div class="space-right">
        <div class="post-content">
            <h1 class="post-title">{{ page.title | escape }}</h1>
            {{ page.content }}
        </div>
        <div class="post-feedback">
            <p>이번 글은 어땠나요? 피드백을 나눠주세요.</p>
            <a href="https://forms.gle/EMf71iYTEXAbEL868" target="_blank" rel="noopener noreferrer" title="좋았어요 피드백 남기기">👍 좋았어요!</a>
            <a href="https://forms.gle/bXJA17sczKPTqtLR7" target="_blank" rel="noopener noreferrer" title="별로였어요 피드백 남기기">👎 별로였어요.</a>
        </div>
        <!-- <a class="shouk-container" target="_blank" href="https://shouk.today?utm_source=mag_epmat&utm_medium=content_banner">
            <div class="container-left">
                <h3>적게 읽고 많이 알아가세요.<br>인사이트 요약 커뮤니티 슉</h3>
                <p>
                    팟캐스트, 영문 뉴스레터, 아티클, 1분 내외 분량 단순명료 요약
                </p>
            </div>
            <div class="container-right">
                <img src="/assets/images/shouk_banner.png" alt="banner">
            </div>
        </a> -->
    </div>
</section>

<section class="post-list related-post-list three-row">
    {% assign same_category_posts = site.posts | where: "category", page.category | reverse %}
    {% assign count_same_category_posts = 3 %}

    <!-- 동일 카테고리, 해당 아티클 이후 인접 -->
    {% for post in same_category_posts %}
        {% if post.date > page.date %}
            {% if count_same_category_posts <= 0 %}
                {% break %}
            {% endif %}
            {% assign count_same_category_posts = count_same_category_posts | minus: 1 %}
            <a title="{{ post.title }}" href="{{ post.url }}" class="post-list-item rise-target sequential-rise-target">
                <div class="post-thumbnail">
                    <div class="img-source" style="background-image: url('{{ post.thumbnail }}')"></div>
                </div>
                <div class="post-description">
                    <div class="post-intro">
                        <h3>{{ post.title }}</h3>
                        <p class="post-excerpt">{{ post.excerpt }}</p>
                    </div>
                </div>
            </a>
        {% endif %}
    {% endfor %}

    <!-- 동일 카테고리, 가장 오래됨 -->
    {% for post in same_category_posts limit: count_same_category_posts %}
        <a title="{{ post.title }}" href="{{ post.url }}" class="post-list-item rise-target sequential-rise-target">
                <div class="post-thumbnail">
                    <div class="img-source" style="background-image: url('{{ post.thumbnail }}')"></div>
                </div>
                <div class="post-description">
                    <div class="post-intro">
                        <h3>{{ post.title }}</h3>
                        <p class="post-excerpt">{{ post.excerpt }}</p>
                    </div>
                </div>
        </a>
    {% endfor %}

    <div class="ads-container ads-container-mobile-feedcard rise-target">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7525347021497850" crossorigin="anonymous"></script>
                <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-format="fluid"
                    data-ad-layout-key="-6h+cl+f-1w+d1"
                    data-ad-client="ca-pub-7525347021497850"
                    data-ad-slot="9019438848"></ins>
                <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>

    {% assign reverse_posts = site.posts | reverse %}
    {% assign count_another_category_posts = 2 %}

    <!-- 비동일 카테고리, 해당 아티클 이후 인접 -->
    {% for post in reverse_posts %}
        {% if post.date > page.date and post.category != page.category %}
            {% if count_another_category_posts <= 0 %}
                {% break %}
            {% endif %}
            {% assign count_another_category_posts = count_another_category_posts | minus: 1 %}
            <a title="{{ post.title }}" href="{{ post.url }}" class="post-list-item rise-target sequential-rise-target">
            <div class="post-thumbnail">
                <div class="img-source" style="background-image: url('{{ post.thumbnail }}')"></div>
            </div>
            <div class="post-description">
                <div class="post-intro">
                    <h3>{{ post.title }}</h3>
                    <p class="post-excerpt">{{ post.excerpt }}</p>
                </div>
            </div>
            </a>
        {% endif %}
    {% endfor %}

    <!-- 비동일 카테고리, 가장 오래됨 -->
    {% for post in reverse_posts %}
        {% if post.category != page.category %}    
            {% if count_another_category_posts <= 0 %}
                {% break %}
            {% endif %}
            {% assign count_another_category_posts = count_another_category_posts | minus: 1 %}
            <a title="{{ post.title }}" href="{{ post.url }}" class="post-list-item rise-target sequential-rise-target">
                    <div class="post-thumbnail">
                        <div class="img-source" style="background-image: url('{{ post.thumbnail }}')"></div>
                    </div>
                    <div class="post-description">
                        <div class="post-intro">
                            <h3>{{ post.title }}</h3>
                            <p class="post-excerpt">{{ post.excerpt }}</p>
                        </div>
                    </div>
            </a>
        {% endif %}
    {% endfor %}

    <div class="ads-container ads-container-relative-feedcard rise-target third-position">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7525347021497850" crossorigin="anonymous"></script>
                <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-format="fluid"
                    data-ad-layout-key="-6h+cl+f-1w+d1"
                    data-ad-client="ca-pub-7525347021497850"
                    data-ad-slot="9019438848"></ins>
                <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>
</section>

<script src="{{ '/assets/post-share.js' | relative_url }}"></script>
{% if page.category == 'design-teatime' %}
<script>document.getElementById('btn-article').classList.remove('op75');
document.getElementById('btn-article').classList.add('nav-item-act');</script>
{% elsif page.category == 'review' %}
<script>document.getElementById('btn-review').classList.remove('op75')
document.getElementById('btn-review').classList.add('nav-item-act')</script>
{% else %}
<script>document.getElementById('btn-read').classList.remove('op75');
document.getElementById('btn-read').classList.add('nav-item-act');</script>
{% endif %}